.currentRound{
    background-color: blue !important;
    font-weight: normal;
}
.historicRound{
    background-color: gray !important;
    font-weight: normal;
}
.futureRound{
    background-color: white !important;
    font-weight: normal;
}
.focusedRound{
    background-color: green !important;
    font-weight: bold;
}